@import "@/assets/styles/_responsive";
$containerWidthDefault: 1196px;

.container {
  max-width: $containerWidthDefault;
  display: flex;
  flex-direction: column;
  color:#fff;

  @include respond-to("small") {
    padding: 0 10px;
    margin: 0 10px;
  }
  margin: 0 auto;
  padding:0  30px;
}
