.wrapper_content{
    margin-top: 5%;

    .wrapper__title{
        font-size: 2rem;
        margin-bottom: 5%;
        font-weight: bold;
        color: orange;
    }
    .wrapper__subtitle{
        font-size: 1.2rem;
        color: #c3c3c3;
        font-weight: lighter;
    }
}